{% extends 'base.html' %}

{% block title %}PyZone{% endblock %}

{% block head %}
    <!-- Extra meta tags or stylesheets specific to the homepage can be added here -->
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome to My Flask App!</h1>
        <p>This is the homepage of your application.</p>
        <div>
            <h2>Features of This App:</h2>
            <ul>
                <li>Feature 1: Description of Feature 1.</li>
                <li>Feature 2: Description of Feature 2.</li>
                <li>Feature 3: Description of Feature 3.</li>
            </ul>
        </div>
        <div>
            <h2>Get Started</h2>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Homepage specific scripts can go here -->
{% endblock %}